body{
    background: orange;
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100%
}
header{
    padding: 0;
    height: 150px;
    width: 100%;
    background-color: white;
    background-image: url("https://i.istockimg.com/file_thumbview_approve/26901309/3/stock-illustration-26901309-seamless-hazard-warning-adhesive-tape-on-metallic-plate.jpg");
    background-size: contain;
    text-align: center;
}
header h1{
    padding-top: 60px;
    color: #00001a;
}
nav{
    float: left;
    margin: 10px;
    height: auto;
    width: 150px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navMenu li{
    margin: 15px auto;
    background: #199fdb;
    border-radius: 15px;
}
.navMenu li:hover{
    background: #47b7eb;
    cursor: pointer;
    color: orange;
    box-shadow: 4px 4px 2px #031017;
    -moz-box-shadow: 4px 4px 2px #031017;
    -webkit-box-shadow: 4px 4px 2px #031017;
}
.navMenu li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navMenu a:hover{
    color: black;
}
#main{
    overflow: hidden;
    overflow-y: auto;
    background: white;
    margin: 10px;
    padding: 0 15px;
    height: 650px;
    color: #00001a;
    border-left: 1px solid #f2f2f2;
}
footer{
    padding: 0 15px;
    background: white;
    height: 100px;
    background-image: url("https://i.istockimg.com/file_thumbview_approve/26901309/3/stock-illustration-26901309-seamless-hazard-warning-adhesive-tape-on-metallic-plate.jpg");
    background-size: contain;
}
footer p:first-of-type{
    width: 100%;
    text-align: center;
    padding-top: 45px;
}