body{
    background: #ff6600;
    margin: 0;
    margin-top: -21px;
    padding: 0;
}
header{
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    background-image: url("http://www.planwallpaper.com/static/images/739916-awesome-background-images.jpg");
    background-color: white;
    text-align: center;
    color: #00001a;
}
header h1{
    padding-top: 50px;
}
nav{
    float: left;
    margin: 10px;
    height: auto;
    width: 150px;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navMenu li{
    margin: 15px auto;
    background: #199fdb;
    border-radius: 15px;
}
.navMenu li:hover{
    background: #1273a1;
    cursor: pointer;
    color: orange;
}
.navMenu li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
}
.navMenu a:hover{
    color: orange;
}
#main{
    overflow: hidden;
    background: white;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0 15px;
    height: 500px;
    color: #00001a;
}