body{
    background: orange;
}
nav{
    margin: 20px auto;
    color: white;
}
nav div{
    float: left;
    margin: 15px 25px;
    padding: 10px;
    background: #199fdb;
    color: white;
    border-radius: 25px;
}